CT_CONFIG_VERSION="4"
CT_EXPERIMENTAL=y
CT_TARBALL_RESULT=y
CT_ARCH_RISCV=y
CT_ARCH_ARCH="rv32imac_zicsr"
CT_ARCH_ABI="ilp32"
CT_TARGET_VENDOR="ch58x"
CT_TARGET_CFLAGS="-Os"
CT_KERNEL_BARE_METAL=y
CT_LIBC_NEWLIB=y
CT_LIBC_NEWLIB_DISABLE_SUPPLIED_SYSCALLS=y
CT_LIBC_NEWLIB_ENABLE_TARGET_OPTSPACE=y
CT_LIBC_NEWLIB_LTO=y
CT_LIBC_NEWLIB_NANO_MALLOC=y
CT_LIBC_NEWLIB_NANO_FORMATTED_IO=y
CT_CC_GCC_USE_GRAPHITE=y
CT_CC_GCC_USE_LTO=y
CT_CC_GCC_ENABLE_TARGET_OPTSPACE=y
# CT_CC_GCC_LDBL_128 is not set
